@import "../../utils/import-mixin-and-var-scss";

.distribution {
  min-height: 550px;
  background-color: $main_blue;
  .wr-section {
    display: flex;
    padding: 150px 140px 0 105px;
  }
  &__title {
    font-size: 40px;
    font-family: $font-Rubik;
    font-weight: 500;
    color: $color-text;
    line-height: 0.6;
    align-self: start;
    margin-bottom: 45px;
  }
  &__text {
    font-size: 14px;
    font-family: "Supply", sans-serif;
    font-weight: 400;
    color: $color-text;
    line-height: 1.64;
  }
  &__container-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 230px;
  }
  &__numbers {
    font-size: 60px;
    font-family: "Supply", sans-serif;
    font-weight: 400;
    color: $color-text;
    line-height: 1.2;
    margin-bottom: 20px;
    text-align: left;
  }
  &__text-under {
    font-size: 14px;
    font-family: "Supply", sans-serif;
    font-weight: 300;
    color: $color-text;
    line-height: 1.2;
  }
  &__price {
    font-size: 60px;
    font-family: "Supply", sans-serif;
    font-weight: 400;
    color: $orange;
    line-height: 1.2;
    letter-spacing: -2.8px;
    margin-bottom: 20px;
  }
  &__text-price {
    font-size: 14px;
    font-family: "Supply", sans-serif;
    font-weight: 300;
    color: $orange;
    line-height: 1.2;
  }
  &__container-number {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  &__container-right {
    display: flex;
    //flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 160px;
    width: 75%;
  }
  &__container-row {
    width: 33%;
    min-width: 210px;
  }
  &__container-right > *:nth-child(2):nth-child(2) {
    text-align: end;
  }
  .stage {
    align-self: end;
    width: 33%;
  }
  &__text-under {
    text-align: start;
  }
}
.distribution2 {
  min-height: 500px;
  .wr-section {
    display: flex;
    padding: 180px 140px 0 105px;
  }
  &__title {
    font-size: 40px;
    font-family: $font-Rubik;
    font-weight: 500;
    color: $main_blue;
    line-height: 0.6;
    align-self: start;
    margin-bottom: 45px;
  }
  &__text {
    font-size: 14px;
    font-family: "Supply", sans-serif;
    font-weight: 400;
    color: $_black;
    line-height: 1.64;
  }
  &__container-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
  }
  &__container-right {
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    width: 100%;
  }
  &__img {
    width: 417px;
    height: 285px;
  }
  &__item-text {
    font-size: 14px;
    font-family: "Supply", sans-serif;
    font-weight: 300;
    color: $_black;
    line-height: 1.2;
  }
  &__square {
    display: block;
    height: 20px;
    width: 20px;
    background-color: #501586;
    margin-right: 10px;
  }
  &__item {
    display: flex;
    margin-bottom: 15px;
  }
}
