@import "../../utils/import-mixin-and-var-scss";

.header {
  position: fixed;
  width: 100vw;
  background-color: $main_blue;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 10;
  transition: all 0.1s ease-in-out;
  .wr-section {
    display: flex;
    align-items: center;
    min-height: 50px;
    width: 100%;
    padding: 0 30px 0 15px;
  }
  &__logo {
    height: 25px;
    width: 25px;
    background-color: $color-text;
    border-radius: 50%;
    margin-right: 30px;
    transition: all 0.2s ease-in-out;
  }
  &__nav-desktop {
    display: flex;
    align-items: center;
    width: 100%;
  }
  &__dropdown {
    display: none;
  }
  &__list-nav {
    display: flex;
  }
  &__arrow {
    width: 10px;
    height: 6px;
    margin-left: 5px;
  }
  &__arrow-black {
    display: none;
    width: 10px;
    height: 6px;
    margin-left: 5px;
  }
  &__item {
    padding-right: 40px;
  }
  &__item.arrow {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  &__link {
    text-decoration: none;
    list-style-type: none;
    color: $color-text;
    font-size: 14px;
    font-family: $font-Rubik;
    line-height: 1.2;
  }
  &__item-text {
    color: $color-text;
    font-size: 14px;
    font-family: $font-Rubik;
    line-height: 1.2;
  }
  &__list-purchases {
    display: flex;
    margin-left: auto;
  }
  &__link-purchases {
    font-size: 14px;
    font-family: $font-Rubik;
    font-weight: bold;
    font-style: italic;
    line-height: 1.2;
    color: $orange;
    text-decoration: none;
  }
  @include media-mobile-down() {
    &__nav-desktop {
      display: none;
    }
    &__dropdown {
      display: flex;
      width: 100%;
      position: relative;
    }
    &__dropdown-button {
      display: flex;
      align-items: center;
    }

    &__dropdown-child {
      position: absolute;
      top: 36px;
      left: -15px;
      display: block;
      background-color: #365abc;
      width: 35vw;
      min-width: 125px;
      padding-left: 15px;
      padding-top: 15px;
    }
    &__menu {
      height: 20px;
      width: 20px;
    }
    &__list-nav {
      flex-direction: column;
    }
    &__item {
      padding-right: 0;
      margin-bottom: 20px;
    }
    &__item.laptop {
      padding-right: 10px;
      margin-bottom: 0;
    }
    &__item-arrow.laptop {
      padding-right: 10px;
      margin-bottom: 0;
    }
  }
}
.header.active {
  background-color: $color-text;
  transition: all 0.1s ease-in-out;
}
.header__dropdown-child.active {
  background-color: $color-text;
  transition: all 0.1s ease-in-out;
}
.header__item-text.active {
  color: $_black;
  transition: all 0.1s ease-in-out;
}
.header__link.active {
  color: $_black;
  transition: all 0.1s ease-in-out;
}
.header__logo.active {
  background-color: $_black;
  transition: all 0.2s ease-in-out;
}
.header__arrow.active {
  display: none;
  transition: all 0.2s ease-in-out;
}
.header__arrow-black.active {
  display: inline;
  transition: all 0.2s ease-in-out;
}
