// VK Pixel
script(type="text/js").
  function(){var t=document.createElement("script");t.type="text/js",t.async=!0,t.src="https://vk.com/js/api/openapi.js?160",t.onload=function(){VK.Retargeting.Init("111"),VK.Retargeting.Hit()},document.head.appendChild(t)}();
noscript
  img(src="https://vk.com/rtrg?p=111", style="position:fixed; left:-999px;", alt="")
// END VK Pixel
