mixin Descriptive(data)
  section.descriptive
    .descriptive__container-img
      .wr-section
        h1.descriptive__title!=data.title
        span.descriptive__text!=data.text
        .descriptive__container-video
