mixin Faq(data)
  section.faq(id="sec3")
      .faq__container-img
      .wr-section
        .faq__container-left
          h1.faq__title!=data.title
          .faq__container-category
            each item in data.text
              span.faq__category!='-'+ ' Category' + ' 1 ' + '('+item+')'
        .faq__container-right
          .faq__table
            .faq__row-main
              span.faq__main-text!=data.tableTitle
            each i in [1,2,3,4,5,6,7]
              .faq__row
                span.faq__row-text!='Question 1'


