// BREAKPOINTS
$min-width: 320px;
$max-width: 4000px;
$screen-gap: 15px;
$xs: 460px;
$s: 767px;
//$m: 1023px;
$m: 1070px;
$l: 1440px;
$xl: 1919px;

// COLORS  - DON'T USE this variables on templates, use variables from "ABSTRACT-COLORS" section
$_red: #ff0000;
$_white: #ffffff;
$_black: #000000;
$_blue: #0000ff;
$_grey: #eeeeee;

$main_blue: #365abc;
$orange: #f5c15d;

// ABSTRACT-COLORS - USE this variables on templates
$color-main: $_red;
$color-text: $_white;
$color-text-link: $_blue;
$color-text-link-hover: $_black;
$color-background: $_white;

// FONTS
$font-title: "Lora", serif;
$font-text: "Oswald", sans-serif;
$font-Rubik: "Rubik", sans-serif;
