-
  const seoForPages = {
    "commonData": {
      "author": "author common",
      "url": "url",
      "lang": "ru",
      "site_name": "site_name",
      "image200200Url": "imageUrl" //- full path (with https://)
    },
    "index": {
      "title": "Title index",
      "description": "description index",
      "keywords": "keywords index"
    }
  }
-
  const templateForPages = {
    "happyBrowserText": "ВНИМАНИЕ! Вы используете <strong>УСТАРЕВШИЙ Internet Explorer</strong> браузер.<br>Пожалуйста, <a href='https://browsehappy.com' target='_blank' rel='noopener'> обновите ваш браузер</a>, чтобы увидеть больше возможностей на сайтах!",
    "noScriptText": "ВНИМАНИЕ! Для корректной работы сайта необходимо включить Javascript в настройках вашего браузера."
  }
-
  const headerData = {
   list_nav: [
     'Live Track','About', 'Tokenomics', 'Road Map', 'Partnership', 'Team', 'FAQ'
   ],
    list_right: [
      'Buy Token', 'Affiliates', 'Eng'
    ]
  }
-
  const bannerData = {
    "title": "What’s the coin. What’s our advantage. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua laboris nisi ut aliquip."
  }
-
  const vsbData = {
    "title": "VSB",
    'text': 'What’s the coin. What’s our advantage. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua laboris nisi ut aliquip.',
    "buttonText": "White Paper",
    "text_price": "Current Price",
    "text_market": "Market Cap",
    "text_supply": "Max Supply",
    "text_stage": "Stage"
  }
-
  const advantagesData = {
    "title": "OUR ADVANTAGES",
    'text': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqu enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. More',
  }
-
  const benefitsData = {
    "title": "YOUR BENEFITS",
    'text': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqu enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. More',
  }
-
  const descriptiveData = {
    "title": "DESCRIPTIVE VIDEO",
    'text': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqu enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. More',
  }
-
  const distributionData = {
    "title": "Distribution",
    'text': 'What’s the coin. What’s our advantage. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua laboris nisi ut aliquip.',
    "text_preIcon": "Pre-ICO Tokens",
    "text_marketing": "Marketing & General",
    "text_advisor": "Team & Advisor",
    "text_integration": "Platform Integration",
    "text_others": "Other 1",
    "text_others2": "Other 2",
    legends:["Pre-ICO Tokens","Marketing & General","Others","Platform Integration","Team & Advisor",]
  }
-
  const keyNumbersData = {
    "title": "Key Numbers",
    'text': 'What’s the coin. What’s our advantage. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua laboris nisi ut aliquip.',
    "text_preIcon": "Total Coin Amount",
    "text_marketing": "Sold Coin Amount",
    "text_advisor": "Other",
    "text_integration": "Stage",
    "text_others": "Market Cup",
    "text_others2": "Other 2",
  }
-
  const monthsData = {
    months: ['Aug','Sep','Oct','Now','Dec','Jan','Feb','Mar','Apr'],

  }
-
  const partnershipData = {
    "title": "OUR PARTNERSHIP",
    "partner": 'Partner',
  }
-
  const teamData = {
    "title": "OUR TEAM",
    "nameAndSurname": 'Name Surname',
    "subtitle": "Title"
  }
-
  const faqData = {
    "title": "FAQ",
    "tableTitle": "General",
    text: ['General','Wallet','Terminology','Others']

  }
-
  const introData = {
    "title": "BANNER",
    "info": "INFO"
  }
-
  const footerData = {
    "copyrigth": "&copy; <span id='thisYear'></span> Все права защищены.",
    "author": "Разработано <a href='https://t.me/chebatarou' target='_blank' title='Написать разработчику' rel='noopener'>BorCheLa</a>"
  }
